.flashy {
  color: red;
  font-style: italic;
}
.best {
  font-weight: bold;
}

img {
  width: 200px;
  display: inline-table;

}

.intro {
  width: 50%;
  font-style: italic;
  font-weight: bold;
}
p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}
p.important {
  color: purple;
}

p.intro {
  width: 50%;
  font-style: italic;
}

h2.intro {
  font-weight: bold;
  font-style: italic;
}
img.intro {
  width: 50%
}

.orange-font {
  padding: 12px;
  border: 1px solid black;
  color: orange;
}
